nav {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover, &.active {
        background-color: #555;
    }
}
